
        <% if Current.user %>
            <div class="d-flex flex-row justify-content-between">
                <div class="p-2"><%= button_to 'Generate Key', apis_path, class:"mb-3 mt-3 btn btn-success" %></div>
                <div class="p-2 mb-3 mt-4 btn btn-dark">API Count :<%= User.find_by(id: Current.user.id).api_cnt %></div>
                <div class="p-2 mb-3 mt-4 mr-10 btn btn-dark">Total Usage :<%= User.find_by(id: Current.user.id).usage %></div>
            </div>
           <table class="table">
                <thead class="thead-dark bg-secondary text-white">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">API key</th>
                    <th scope="col"></th>
                    <th scope="col">Created on</th>
                    <th scope="col">Usage</th>
                    </tr>
                </thead>
                <tbody>
                <% x = 1 %>
                <% Api.where("userid": Current.user.id).each do |data| %>
                    <tr>
                    <th scope="row"><%= x %></th>
                        <td><%= data.apikey %></td>
                        <td><a data-confirm="Are you sure?" class="btn btn-outline-danger mr-5" data-method="delete" href="/apis/del/<%=data.id%>">Delete</a></td>
                        <td><%= data.created_at.strftime("%d-%m-%y") %></td>
                        <td><%= data.count %></td>
                    </tr>
                    <% x = x + 1 %>
                <% end %>    
                </tbody>
            </table>
        <%else%>
            <div class = "d-flex align-items-center justify-content-center">
                <h2>Welcome to Word Dictionary API</h2>
            </div>
        <%end%>    

