<div class = "d-flex align-items-center justify-content-center">
        <% if Current.user %>
           <%# <%= Current.user.id %> %>
           <%= button_to 'Generate Key', apis_path, class:"btn btn-success" %>
            
           <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">API key</th>
                    <th scope="col">Usage</th>
                    </tr>
                </thead>
                <tbody>
                <% x = 1 %>
                <% Api.all.each do |data| %>
                    <tr>
                    <th scope="row"><%= x %></th>
                        <td><%= data.apikey %></td>
                        <td><%= data.count %></td>
                    </tr>
                    <% x = x + 1 %>
                <% end %>    
                </tbody>
            </table>
        <%else%>
           <h2>Welcome to Word Dictionary API</h2>
        <%end%>    
</div>

